* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scrollbar-width: none;

  ::-webkit-scrollbar {
    display: none;
  }
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 768px) {
  body {
    -webkit-tap-highlight-color: var(--tap-highlight-color);
  }
}

a {
  color: inherit;
  text-decoration: none;
}

.ant-picker-dropdown .ant-picker-time-panel-column {
  scrollbar-color: var(--bg-surface-secondary-hover) transparent;
  width: 68px;
  overflow-y: auto;
}

.ant-picker-now-btn {
  display: none;
}

.ant-btn .css-dev-only-do-not-override-1gwfwyx .ant-btn-primary .ant-btn-sm {
  background-color: var(--brand);
}

.ant-picker.ant-picker-outlined {
  border-radius: 30px;
  border-color: var(--bg-surface-secondary-hover);
  width: 100%;
  padding: 8px 16px;
  margin-top: 4px;
}

.anticon.anticon-clock-circle {
  display: none;
}

.ant-picker-dropdown .ant-picker-time-panel-column:not(:first-child) {
  border-inline-start: 1px solid var(--bg-surface-hover);
}

.ant-picker-dropdown .ant-picker-footer {
  border-top: 1px solid var(--bg-surface-hover);
}

.ant-picker-dropdown .ant-picker-panel > .ant-picker-time-panel {
  padding: 0;
}

.ant-picker-dropdown .ant-picker-time-panel-column {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1px;
  padding: 4px 0;
}

.ant-btn-primary:disabled,
.ant-btn-primary.ant-btn-disabled {
  background-color: var(--brand);
  border: none;
  border-radius: 30px;
  height: 24px;
  width: 42px;
  color: var(--white);
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  line-height: 16px;
}

.ant-picker-dropdown
  .ant-picker-time-panel-column
  > li.ant-picker-time-panel-cell
  .ant-picker-time-panel-cell-inner:hover {
  background-color: var(--bg-white-hover);
  border-radius: 6px;
}

.ant-picker-dropdown
  .ant-picker-time-panel-column
  > li.ant-picker-time-panel-cell-selected
  .ant-picker-time-panel-cell-inner {
  background-color: var(--bg-white-hover);
  color: var(--brand) !important;
  border-radius: 6px;
}

.ant-picker-dropdown
  .ant-picker-time-panel-column
  > li.ant-picker-time-panel-cell-selected
  .ant-picker-time-panel-cell-inner:hover,
.ant-picker-dropdown
  .ant-picker-time-panel-column
  > li.ant-picker-time-panel-cell-selected
  .ant-picker-time-panel-cell-inner:hover {
  background-color: var(--bg-white-hover);
}

.ant-picker-time-panel-cell-inner {
  color: var(--text-text-secondary) !important;
}

.ant-btn-primary {
  background-color: var(--brand);
  border: none;
  border-radius: 30px;
  height: 24px;
  width: 42px;
  color: var(--white);
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  line-height: 16px;
}

.ant-btn-primary:not(:disabled):not(.ant-btn-disabled):hover {
  background-color: var(--brand-fill-hover);
}

.ant-picker-outlined:focus {
  border-color: var(--brand);
  box-shadow: none;
}

.ant-picker-outlined:focus-within {
  border-color: var(--brand);
  box-shadow: none;
}

.ant-picker:hover .ant-picker-clear {
  display: none;
}

.ant-picker .ant-picker-input > input {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

.ant-picker-dropdown .ant-picker-time-panel .ant-picker-content {
  max-height: 148px;
}

.ant-btn:not(:disabled):focus-visible {
  outline: unset;
}

:root {
  /* common color */
  --black: #000000;
  --white: #ffffff;
  --fill-danger: #bc5749;
  --tap-highlight-color: rgba(255, 255, 255, 0);
  /* brand color */
  --brand: #282828;
  --brand-fill-hover: #3e3e3e;
  --brand-disabled: #ebeae7;
  /* background color */
  --bg-surface: #f5f4f1;
  --bg-surface-hover: #e9e8e5;
  --bg-surface-active: #e9e8e5;
  --bg-white: #ffffff;
  --bg-surface-secondary: #e9e8e5;
  --bg-surface-secondary-hover: #dcdcd9;
  --bg-white-hover: #f2f2f2;
  --bg-overlay: #00000080;
  /* text color */
  --text: #313130;
  --text-link: #282828;
  --text-white: #ffffff;
  --text-text-secondary: #7b7a79;
  --text-text-secondary-hover: #313130;
  --text-disabled: #c4c3c1;
  /* icon color */
  --icon: #7b7a79;
  --icon-hover: #313130;
  --icon-active: #313130;
  --icon-disabled: #c4c3c1;
  /* box shadow color */
  --box-shadow: #0000001a;
  --box-shadow-2: #0000000d;
  --box-shadow-3: #00000033;
  /* alert message colors */
  --fill-danger-secondary: #f8eeed;
  --fill-success-secondary: #e8f3e9;
  --fill-warning-secondary: #fcf3e7;
  --text-success: #1d8623;
  --text-warning: #e28512;
  --error-border: #bc574933;
  --success-border: #1d862333;
  --warning-border: #e2851233;
  /* border colors */
  --border: #e9e8e5;
  --border-hover: #c4c3c1;
  --border-selected: #7b7a79;
  --border-input_border: #dcdcd9;
  --border-brand: #282828;
  --border-disabled: #e7e7e4;
  /* file card color */
  --bg-overlay-color: #282828cc;
  --overlay-color: rgba(40, 40, 40, 0);
  /* All type of borders */
  --border-width: 1px;
  --border-light-width: 0.5px;
  --border-loading-width: 2px;
  --border-style: solid;
  --border-main: var(--border-width) var(--border-style) var(--border);
  --border-primary: var(--border-width) var(--border-style) var(--border-brand);
  --border-secondary: var(--border-width) var(--border-style)
    var(--border-input_border);
  --border-disable: var(--border-width) var(--border-style)
    var(--border-disabled);
  --border-danger: var(--border-width) var(--border-style) var(--fill-danger);
  --border-loading: var(--border-loading-width) var(--border-style)
    var(--text-white);
  --border-light: var(--border-light-width) var(--border-style) var(--border);
  --border-light-hover: var(--border-light-width) var(--border-style)
    var(--border-hover);
  --border-error: var(--border-width) var(--border-style) var(--error-border);
  --border-success: var(--border-width) var(--border-style)
    var(--success-border);
  --border-warning: var(--border-width) var(--border-style)
    var(--warning-border);
  /* All box Shadow */
  --shadow-tab: 0px 1px 1px 0px var(--box-shadow);
  --shadow-card: 0px 0px 0px 0.5px var(--box-shadow),
    0px 2px 4px 0px var(--box-shadow-2);
  --shadow-card-hover: 0px 0px 0px 0.5px var(--box-shadow-3),
    0px 2px 4px 0px var(--box-shadow-2);
  --shadow-dropdown: 0px 0px 0px 0.5px var(--box-shadow),
    0px 4px 8px 0px var(--box-shadow), 0px 8px 24px 0px var(--box-shadow);
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  :root {
    --border-width: 1px;
  }
}

.ProseMirror {
  position: relative;
}

.ProseMirror {
  word-wrap: break-word;
  white-space: pre-wrap;
  white-space: break-spaces;
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;
  font-feature-settings: 'liga' 0;
  /* the above doesn't seem to work in Edge */
}

.ProseMirror pre {
  white-space: pre-wrap;
}

.ProseMirror li {
  position: relative;
}

.ProseMirror-hideselection *::selection {
  background: transparent;
}

.ProseMirror-hideselection *::-moz-selection {
  background: transparent;
}

.ProseMirror-hideselection {
  caret-color: transparent;
}

/* See https://github.com/ProseMirror/prosemirror/issues/1421#issuecomment-1759320191 */
.ProseMirror [draggable][contenteditable='false'] {
  user-select: text;
}

.ProseMirror-selectednode {
  outline: 2px solid #8cf;
}

/* Make sure li selections wrap around markers */

li.ProseMirror-selectednode {
  outline: none;
}

li.ProseMirror-selectednode:after {
  content: '';
  position: absolute;
  left: -32px;
  right: -2px;
  top: -2px;
  bottom: -2px;
  border: 2px solid #8cf;
  pointer-events: none;
}

/* Protect against generic img rules */

img.ProseMirror-separator {
  display: none !important;
  border: none !important;
  margin: 0 !important;
}

.ProseMirror-textblock-dropdown {
  min-width: 3em;
}

.ProseMirror-menu {
  margin: 0 -4px;
  line-height: 1;
}

.ProseMirror-tooltip .ProseMirror-menu {
  width: -webkit-fit-content;
  width: fit-content;
  white-space: pre;
}

.ProseMirror-menuitem {
  margin-right: 3px;
  display: inline-block;
}

.ProseMirror-menuseparator {
  border-right: 1px solid #ddd;
  margin-right: 3px;
}

.ProseMirror-menu-dropdown,
.ProseMirror-menu-dropdown-menu {
  font-size: 90%;
  white-space: nowrap;
}

.ProseMirror-menu-dropdown {
  vertical-align: 1px;
  cursor: pointer;
  position: relative;
  padding-right: 15px;
}

.ProseMirror-menu-dropdown-wrap {
  padding: 1px 0 1px 4px;
  display: inline-block;
  position: relative;
}

.ProseMirror-menu-dropdown:after {
  content: '';
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid currentColor;
  opacity: 0.6;
  position: absolute;
  right: 4px;
  top: calc(50% - 2px);
}

.ProseMirror-menu-dropdown-menu,
.ProseMirror-menu-submenu {
  position: absolute;
  background: white;
  color: #666;
  border: 1px solid #aaa;
  padding: 2px;
}

.ProseMirror-menu-dropdown-menu {
  z-index: 15;
  min-width: 6em;
}

.ProseMirror-menu-dropdown-item {
  cursor: pointer;
  padding: 2px 8px 2px 4px;
}

.ProseMirror-menu-dropdown-item:hover {
  background: #f2f2f2;
}

.ProseMirror-menu-submenu-wrap {
  position: relative;
  margin-right: -4px;
}

.ProseMirror-menu-submenu-label:after {
  content: '';
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid currentColor;
  opacity: 0.6;
  position: absolute;
  right: 4px;
  top: calc(50% - 4px);
}

.ProseMirror-menu-submenu {
  display: none;
  min-width: 4em;
  left: 100%;
  top: -3px;
}

.ProseMirror-menu-active {
  background: #eee;
  border-radius: 4px;
}

.ProseMirror-menu-disabled {
  opacity: 0.3;
}

.ProseMirror-menu-submenu-wrap:hover .ProseMirror-menu-submenu,
.ProseMirror-menu-submenu-wrap-active .ProseMirror-menu-submenu {
  display: block;
}

.ProseMirror-menubar {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  position: relative;
  min-height: 1em;
  color: #666;
  padding: 1px 6px;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid silver;
  background: white;
  z-index: 10;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: visible;
}

.ProseMirror-icon {
  display: inline-block;
  line-height: 0.8;
  vertical-align: -2px;
  /* Compensate for padding */
  padding: 2px 8px;
  cursor: pointer;
}

.ProseMirror-menu-disabled.ProseMirror-icon {
  cursor: default;
}

.ProseMirror-icon svg {
  fill: currentColor;
  height: 1em;
}

.ProseMirror-icon span {
  vertical-align: text-top;
}

.ProseMirror-gapcursor {
  display: none;
  pointer-events: none;
  position: absolute;
}

.ProseMirror-gapcursor:after {
  content: '';
  display: block;
  position: absolute;
  top: -2px;
  width: 20px;
  border-top: 1px solid black;
  animation: ProseMirror-cursor-blink 1.1s steps(2, start) infinite;
}

@keyframes ProseMirror-cursor-blink {
  to {
    visibility: hidden;
  }
}

/* prosmirror style */

.ProseMirror-focused .ProseMirror-gapcursor {
  display: block;
}

/* Add space around the hr to make clicking it easier */

.ProseMirror-example-setup-style hr {
  padding: 2px 10px;
  border: none;
  margin: 1em 0;
}

.ProseMirror-example-setup-style hr:after {
  content: '';
  display: block;
  height: 1px;
  background-color: silver;
  line-height: 2px;
}

.ProseMirror ul,
.ProseMirror ol {
  padding-left: 30px;
}

.ProseMirror blockquote {
  padding-left: 1em;
  border-left: 3px solid #eee;
  margin-left: 0;
  margin-right: 0;
}

.ProseMirror-example-setup-style img {
  cursor: default;
}

.ProseMirror-prompt {
  background: white;
  padding: 5px 10px 5px 15px;
  border: 1px solid silver;
  position: fixed;
  border-radius: 3px;
  z-index: 11;
  box-shadow: -0.5px 2px 5px rgba(0, 0, 0, 0.2);
}

.ProseMirror-prompt h5 {
  margin: 0;
  font-weight: normal;
  font-size: 100%;
  color: #444;
}

.ProseMirror-prompt input[type='text'],
.ProseMirror-prompt textarea {
  background: #eee;
  border: none;
  outline: none;
}

.ProseMirror-prompt input[type='text'] {
  padding: 0 4px;
}

.ProseMirror-prompt-close {
  position: absolute;
  left: 2px;
  top: 1px;
  color: #666;
  border: none;
  background: transparent;
  padding: 0;
}

.ProseMirror-prompt-close:after {
  content: '✕';
  font-size: 12px;
}

.ProseMirror-invalid {
  background: #ffc;
  border: 1px solid #cc7;
  border-radius: 4px;
  padding: 5px 10px;
  position: absolute;
  min-width: 10em;
}

.ProseMirror-prompt-buttons {
  margin-top: 5px;
  display: none;
}

#editor,
.editor {
  color: black;
  background-clip: padding-box;
  border-radius: 4px;
}

.ProseMirror p:first-child,
.ProseMirror h1:first-child,
.ProseMirror h2:first-child,
.ProseMirror h3:first-child,
.ProseMirror h4:first-child,
.ProseMirror h5:first-child,
.ProseMirror h6:first-child {
  margin-top: 0;
}

.ProseMirror p:last-child,
.ProseMirror h1:last-child,
.ProseMirror h2:last-child,
.ProseMirror h3:last-child,
.ProseMirror h4:last-child,
.ProseMirror h5:last-child,
.ProseMirror h6:last-child {
  margin-bottom: 0;
}

.ProseMirror {
  line-height: 1.2;
  outline: none;
}

.ProseMirror p {
  margin-bottom: 1em;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.ProseMirror h1 {
  font-size: 22px;
  font-weight: 600;
  line-height: 28px;
}
.ProseMirror h2 {
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
}
.ProseMirror h3 {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.ProseMirror img {
  width: 100%;
}

/*Style for each suggestion item */
.suggestion-item-list {
  background-color: var(--bg-white);
  box-shadow: var(--shadow-card);
  border-radius: 12px;
  position: absolute;
  z-index: 10;
  max-height: 185px;
  max-width: 180px;
  overflow-y: auto;
  padding: 4px;
  bottom: 18px;
}
.suggestion-item:hover {
  background-color: var(--bg-white-hover);
  cursor: pointer;
}
.suggestion-item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 4px 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;

  color: var(--text);
  white-space: nowrap;
  border-radius: 8px;
}
.suggestion-item .avatar {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.selection-menu-bar {
  display: flex;
  background-color: var(--bg-white);
  padding: 4px;
  gap: 8px;
  align-items: center;
  border-radius: 30px;
  box-shadow: var(--shadow-card);
  border: var(--border-light);
}
.menu-item {
  cursor: pointer;
  position: relative;
  border: unset;
  display: flex;
  align-items: center;
  gap: 2px;
  padding: 6px;
  height: 22px;
  background-color: transparent;
  justify-content: center;
  svg {
    fill: var(--icon);
  }
  &:hover {
    border-radius: 30px;
    background-color: var(--bg-surface-hover);
    svg {
      fill: var(--icon-active);
    }
  }
}
.dropdown {
  cursor: pointer;
  display: block;
  position: absolute;
  max-width: 116px;
  width: 100%;
  min-width: 116px;
  background-color: var(--bg-white);
  box-shadow: var(--shadow-dropdown);
  color: var(--text-text-secondary);
  border-radius: 12px;
  top: unset !important;
  left: 0;
  bottom: 24px;
  padding: 4px;
  margin-bottom: 4px;
  div {
    padding: 4px 8px;
  }
  :hover {
    background-color: var(--bg-white-hover);
    color: var(--text);
    border-radius: 6px;
  }
}
.hidden {
  display: none;
}
.menu-item.active-menu-item {
  border-radius: 30px;
  background-color: var(--bg-surface-hover);
  svg {
    fill: var(--icon-active);
  }
}

.cross-icon {
  position: absolute;
  cursor: pointer;
  width: 16px;
  height: 16px;
  display: none;
  align-items: center;
  justify-content: center;
  top: 6px;
  right: 8px;
  border-radius: 50%;
  border: none;
  &:hover {
    background-color: var(--bg-surface-secondary);
  }
}

.signature-main-div {
  border-radius: 6px;
  margin: 0 -8px 12px;
  position: relative;
  transition: all 0.3 ease;
  padding: 8px 6px;
  &:hover {
    background-color: var(--bg-white-hover);
    .cross-icon {
      display: flex;
    }
  }
  a {
    text-decoration: underline;
    cursor: pointer;
  }
}
/* bubble menu design */
.bubble-menu {
  background-color: var(--bg-white);
  padding: 3px;
  border: var(--border-main);
  box-shadow: var(--shadow-card);
  border-radius: 100px;
  display: flex;
  gap: 8px;
  position: relative;

  .heading-dropdown {
    display: flex;
    align-items: center;
    gap: 2px;
  }

  button {
    border: none;
    background-color: unset;
    margin: 0;
    padding: 6px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 100px;

    &:hover {
      background-color: var(--bg-surface-hover);
      color: var(--text-primary);
    }

    svg {
      fill: var(--icon);
    }
  }
  :hover {
    svg {
      fill: var(--icon-hover);
    }
  }
}

.link-menu {
  padding: 0px 8px 0px 4px;
  background-color: var(--bg-white);
  border: var(--border-main);
  box-shadow: var(--shadow-card);
  border-radius: 100px;
  display: flex;
  gap: 8px;
  align-items: center;

  input {
    border: none;
    outline: none;
    background-color: unset;
    padding: 5px;
    color: var(--text-primary);
    font-size: 13px;
    font-weight: 400px;
    line-height: 20px;
    /* font for mobile screen  */
    @media (max-width: 449px) {
      font-size: 15px;
      line-height: 22px;
    }

    ::placeholder {
      color: var(--text-secondary);
    }

    :focus {
      outline: unset;
    }
  }

  .icon-div {
    display: flex;
    align-items: center;
    width: 24px;
    height: 24px;
    cursor: pointer;
  }

  .line-div {
    height: 18px;
    border-left: var(--border-main);
  }
}

.heading-dropdown-menu {
  padding: 4px;
  background-color: var(--bg-white);
  /* border: var(--border-main); */
  box-shadow: var(--shadow-dropdown);
  position: absolute;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 1px;
  border-radius: 8px;
  width: auto;
  min-width: 116px;

  button {
    padding: 4px 8px;
    background: none;
    border: none;
    text-align: left;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: var(--text-text-secondary);
    border-radius: 4px;
    /* font for mobile screen  */
    @media (max-width: 449px) {
      font-size: 15px;
      line-height: 22px;
    }
  }
}

.heading-dropdown-menu.bottom {
  top: calc(100% + 2px);
  left: 0;
}

.heading-dropdown-menu.top {
  bottom: calc(100% + 4px);
  left: 0;
}
.tiptap {
  max-height: 300px;
  overflow: auto;
  min-height: 48px;
}

.tiptap p.is-editor-empty:first-child:before {
  color: var(--text-text-secondary);
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
