* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scrollbar-width: none;
  ::-webkit-scrollbar {
    display: none;
  }
}

a {
  color: inherit;
  text-decoration: none;
}
.ant-picker-dropdown .ant-picker-time-panel-column {
  scrollbar-color: #dcdcd9 transparent;
  width: 68px;
  overflow-y: auto;
}
.ant-picker-now-btn {
  display: none;
}
.ant-btn .css-dev-only-do-not-override-1gwfwyx .ant-btn-primary .ant-btn-sm {
  background-color: #282828;
}
.ant-picker.ant-picker-outlined {
  border-radius: 30px;
  border-color: #dcdcd9;
  width: 114px;
}
.anticon.anticon-clock-circle {
  display: none;
}
.ant-picker-dropdown .ant-picker-time-panel-column:not(:first-child) {
  border-inline-start: 1px solid #e9e8e5;
}
.ant-picker-dropdown .ant-picker-footer {
  border-top: 1px solid #e9e8e5;
}
.ant-picker-dropdown .ant-picker-panel > .ant-picker-time-panel {
  padding: 0;
}
.ant-picker-dropdown .ant-picker-time-panel-column {
  margin: 0;
}
.ant-btn-primary:disabled,
.ant-btn-primary.ant-btn-disabled {
  background-color: #282828;
  border: none;
  border-radius: 30px;
  height: 24px;
  width: 42px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  line-height: 16px;
}
.ant-picker-dropdown
  .ant-picker-time-panel-column
  > li.ant-picker-time-panel-cell
  .ant-picker-time-panel-cell-inner:hover {
  background-color: #f2f2f2;
  border-radius: 6px;
}
.ant-picker-dropdown
  .ant-picker-time-panel-column
  > li.ant-picker-time-panel-cell-selected
  .ant-picker-time-panel-cell-inner {
  background-color: #f2f2f2;
  color: #282828 !important;
  border-radius: 6px;
}
.ant-picker-dropdown
  .ant-picker-time-panel-column
  > li.ant-picker-time-panel-cell-selected
  .ant-picker-time-panel-cell-inner:hover,
.ant-picker-dropdown
  .ant-picker-time-panel-column
  > li.ant-picker-time-panel-cell-selected
  .ant-picker-time-panel-cell-inner:hover {
  background-color: #f2f2f2;
}
.ant-picker-time-panel-cell-inner {
  color: #7b7a79 !important;
}
.ant-btn-primary {
  background-color: #282828;
  border: none;
  border-radius: 30px;
  height: 24px;
  width: 42px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  line-height: 16px;
}
.ant-btn-primary:not(:disabled):not(.ant-btn-disabled):hover {
  background-color: #3e3e3e;
}
.ant-picker-outlined:focus {
  border-color: #282828;
  box-shadow: none;
}
.ant-picker-outlined:focus-within {
  border-color: #282828;
  box-shadow: none;
}
.ant-picker:hover .ant-picker-clear {
  display: none;
}

:root {
  /* common color */
  --black: #000000;
  --white: #ffffff;
  --fill-danger: #bc5749;
  /* brand color */
  --brand: #282828;
  --brand-fill-hover: #3e3e3e;
  --brand-disabled: #ebeae7;
  /* background color */
  --bg-surface: #f5f4f1;
  --bg-surface-hover: #e9e8e5;
  --bg-surface-active: '#E9E8E5';
  --bg-white: #ffffff;
  --bg-surface-secondary: #e9e8e5;
  --bg-surface-secondary-hover: #dcdcd9;
  --bg-white-hover: #f2f2f2;
  --bg-overlay: #00000080;
  /* text color */
  --text: #313130;
  --text-link: #282828;
  --text-white: #ffffff;
  --text-text-secondary: #7b7a79;
  --text-text-secondary-hover: #313130;
  --text-disabled: #c4c3c1;
  /* icon color */
  --icon: #7b7a79;
  --icon-hover: #313130;
  --icon-active: #313130;
  --icon-disable: #c4c3c1;
  /* box shadow color */
  --box_shadow: #0000001a;
  --box-shadow-2: #0000000d;
  --box-shadow-3: #00000033;
  /* alert message colors */
  --fill-danger-secondary: #f8eeed;
  --fill-success-secondary: #e8f3e9;
  --fill-warning-secondary: #fcf3e7;
  --text-success: #1d8623;
  --text-warning: #e28512;
  --error-border: #bc574933;
  --success-border: #1d862333;
  --warning-border: #e2851233;
  /* border colors */
  --border: #e9e8e5;
  --border-hover: #c4c3c1;
  --border-selected: #7b7a79;
  --border-input_border: #dcdcd9;
  --border-brand: #282828;
  --border-disabled: #e7e7e4;
  /* All type of borders */
  --border-width: 1px;
  --border-loading-width: 2px;
  --border-style: solid;
  --border-main: var(--border-width) var(--border-style) var(--border);
  --border-primary: var(--border-width) var(--border-style) var(--border-brand);
  --border-secondary: var(--border-width) var(--border-style)
    var(--border-input_border);
  --border-disable: var(--border-width) var(--border-style)
    var(--border-disabled);
  --border-danger: var(--border-width) var(--border-style) var(--fill-danger);
  --border-loading: var(--border-loading-width) var(--border-style)
    var(--text-white);
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  :root {
    --border-width: 0.5px;
  }
}
